html, body, header, div, h1, nav, ul, li, p, span{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.menu{
    box-shadow: 0px 4px 40px -15px rgba(0, 0, 0, 0.25);
}

.container{
    width: 1100px;
    margin: 0 auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.menu-logo h1{
    font-size: 24px;
    font-weight: 700;
    color: #4C6EF5;
}

.menu-nav{
    height: 70px;
    display: flex;
    align-items: center;
}

.menu-lista{
    display: flex;
}

.menu-lista li{
    margin: 0 20px;
    color: #343A40;
}

.menu-lista li:nth-child(3){
    color: #4C6EF5;
}

.menu-lista li span{
    display: block;
    height: 2px;
    width: 100%;
    background-color: #4C6EF5;
}